.container {
    flex-direction: row;
    padding: 80px;
}

.display-3 {
    color: #14495e;
    font-weight: bold;
    text-shadow: 2px 2px 5px;
}

.login-card {
    margin: 0px 250px 0px 500px;
    width: 400px;
    border: 2px ridge;
    border-radius: 10px;
}

.invalid-feedback {
    text-align: left;
}

.btn-success {
    padding: 10px 20px; /* Adjust padding as needed */
    max-height: fit-content;
}