/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Main {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* Global styles for animations, headers, links can remain here if they apply to the entire app */
