/* Feed.css */
.add-post-button {
    background-color: #4e20e8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-post-button:hover {
    background-color: #210064;
  }
  
  .post-input,
  .image-input {
    width: 350px;
    margin-bottom: 8px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .image-input {
    width: 90px; /* Adjust if necessary */
  }
  
  .file-upload-label {
    cursor: pointer;
  }
  
  .file-upload-label:hover {
    background-color: transparent;
  }
  