/* Menu.css */
.menu {
    width: 30%; /* Adjust width as needed */
    /* position: fixed; Fixed positioning */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left side of the viewport */
    height: 100%; /* Full height */
    overflow-y: auto; /* Add scroll to the menu if content is longer than the screen */
    /* Rest of your styles */
    position: sticky;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px; /* Adjust font size as needed */
    font-weight: 500; /* Medium font weight */
    color: #4B4F56; /* Text color for menu items */
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    margin-left: 5px;
  }
  
  .menu-item span{
    margin-top: 10px;
  }
  .menu-item:hover {
    background-color: #E4E6E9; /* Hover color similar to Facebook's */
    text-decoration: none; /* Remove underline from links */
  }
  
  .bi {
    margin-right: 12px;
    margin-top: 10px;
  }
 